[submodule "ImGuizmo"]
	path = ImGuizmo
	url = https://github.com/aniongithub/ImGuizmo.git
	branch = master
[submodule "cpython-interop"]
	path = cpython-interop
	url = https://github.com/aniongithub/cpython-interop.git
